{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}


<div class="container  mb-3 my-3 d-flex justify-content-center align-items-center">
  <img src="{{ url_for('static', filename='img/img5.jpg') }}" alt="Author Photo" class="rounded-circle"
    style="width: 100px; height: 100px;">
  <h1 class="text-center m-2 mb-3 my-3 d-flex">Shakti Vanani</h1>
</div>

<div class="container   mb-3 my-3 ">
  <div class="card bg-transparent">
    <div class="card-body">
      <h2 class="card-title">About Me</h2>
      <p class="card-text">
        I am a software engineer with a passion for web development. I have experience in building web applications
        using
        Python, Flask, and Django. I am also proficient in front-end technologies like HTML, CSS, and JavaScript. I am
        currently working as a freelance web developer and looking for new opportunities to work on exciting projects.
      </p>
    </div>
  </div>
</div>

<div class="container mb-3 my-3 ">
  <div class="row">

    <div class="col-6 col-sm-12 col-md-6 mb-3 my-3">
      <div class="card bg-transparent rounded">
        <div class="card-body d-flex align-items-center">
          <img src="{{ url_for('static', filename='img/img1.png') }}" alt="Education Image"
            class="img-fluid mb-3 rounded-circle" style="width: 100px; height: 100px; margin-right: 15px;">
          <div>
            <h2 class="card-title">Education</h2>
            <p class="card-text">
            <ul>
              <li>Bachelor of Technology in Computer Science, XYZ University</li>
              <li>Master of Science in Software Engineering, ABC Institute</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-12 col-md-6 mb-3 my-3">
      <div class="card bg-transparent rounded ">
        <div class="card-body d-flex align-items-center">
          <img src="{{ url_for('static', filename='img/img1.png') }}" alt="Education Image"
            class="img-fluid mb-3 rounded-circle" style="width: 100px; height: 100px; margin-right: 15px;">
          <div>
            <h2 class="card-title">Education</h2>
            <p class="card-text">
            <ul>
              <li>Bachelor of Technology in Computer Science, XYZ University</li>
              <li>Master of Science in Software Engineering, ABC Institute</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-6 col-sm-12 col-md-6 mb-3 my-3">
      <div class="card bg-transparent rounded">
        <div class="card-body d-flex align-items-center">
          <img src="{{ url_for('static', filename='img/img1.png') }}" alt="Education Image"
            class="img-fluid mb-3 rounded-circle" style="width: 100px; height: 100px; margin-right: 15px;">
          <div>
            <h2 class="card-title">Education</h2>
            <p class="card-text">
            <ul>
              <li>Bachelor of Technology in Computer Science, XYZ University</li>
              <li>Master of Science in Software Engineering, ABC Institute</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-12 col-md-6 mb-3 my-3">
      <div class="card bg-transparent rounded ">
        <div class="card-body d-flex align-items-center">
          <img src="{{ url_for('static', filename='img/img1.png') }}" alt="Education Image"
            class="img-fluid mb-3 rounded-circle" style="width: 100px; height: 100px; margin-right: 15px;">
          <div>
            <h2 class="card-title">Education</h2>
            <p class="card-text">
            <ul>
              <li>Bachelor of Technology in Computer Science, XYZ University</li>
              <li>Master of Science in Software Engineering, ABC Institute</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3 my-3 ">
  <div class="row">
    <div class="col-6 col-sm-12 col-md-6 mb-3 my-3">
      <div class="card bg-transparent rounded">
        <div class="card-body d-flex align-items-center">
          <img src="{{ url_for('static', filename='img/img1.png') }}" alt="Education Image"
            class="img-fluid mb-3 rounded-circle" style="width: 100px; height: 100px; margin-right: 15px;">
          <div>
            <h2 class="card-title">Education</h2>
            <p class="card-text">
            <ul>
              <li>Bachelor of Technology in Computer Science, XYZ University</li>
              <li>Master of Science in Software Engineering, ABC Institute</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-12 col-md-6 mb-3 my-3">
      <div class="card bg-transparent rounded ">
        <div class="card-body d-flex align-items-center">
          <img src="{{ url_for('static', filename='img/img1.png') }}" alt="Education Image"
            class="img-fluid mb-3 rounded-circle" style="width: 100px; height: 100px; margin-right: 15px;">
          <div>
            <h2 class="card-title">Education</h2>
            <p class="card-text">
            <ul>
              <li>Bachelor of Technology in Computer Science, XYZ University</li>
              <li>Master of Science in Software Engineering, ABC Institute</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



{% endblock body %}